.body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.slider{
    display: grid;
position: relative;
place-items: center;
height: 250px;
width: 100%;
overflow: hidden;
}

.slideTrack{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 30s linear infinite;
}
.slideTrack:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translate(calc(-200px*5));
    }
}

.slide{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.img{
 
    transition: transform 1s;
}
.img:hover{
    transform: translateZ(20px);
    background: red;
}

.slider::before,
.slider::after{
    background:linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 15%;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}